.post-card {
    box-shadow: 10px 10px 8px -5px #7777779c;
  }
  
  .user-info {
    /* border: 2px solid rgb(174, 255, 0); */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 15px 15px 0 15px;
  
    height: 60px;
  }
  
  .user-info>img {
    height: 100%;
    border-radius: 100%;
  }
  
  .user-info>strong {
    color: #f66640;
  }
  
  .content {
    /* s */
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
  
    padding: 15px;
  
  }
  
  .content-text {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
  }
  
  .content-text>* {
    margin: 0;
  }